/*Layout inicial - (320 x 640)  */

/*Disposição de cores*/
:root {

    --background-color: #fff;
    --font-color: #333;
    --button-color:#acadab94;
    --card-color:#ffff92;
    --card-border-color:#333; 
    
}

.dark-mode{
    --background-color: #333;
    --font-color: #fff;
    --button-color:#3cc368;
    --card-color:#c8cac7;
}

/*Change theme button*/
.checkbox{
    opacity: 0;
    position: absolute;
}
.label{
    background-color: #00000073;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 25px;
    width: 50px;
    transform: scale(1.5);

}

.label .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    height: 21px;
    width: 21px;
    transform: translateX(0px);
}
.checkbox:checked + .label .ball {
    transform: translateX(20px);
}

.fa-moon {
    color: #e6aa05;
}

.fa-sun {
    color: #ee9105;
}



/* Head of page */
main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background-color);
    align-items: center;
    color: var(--font-color);
}

header {

    display: flex;
    justify-content: center;
    gap: 3.3em;
    min-height: 50px;
    font-size: 1em;
    
}

header p {
    font-size: 2em;
    
    
}

button {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 5px 46px;
    font-size: 2.5em;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--button-color);  
}
button:hover{
    background-color:#f87b42;
}

/*popup PAUSE BT*/
.dark-mode .container {
    color: #333;
}
.container {
    display: none;
    align-content: center;
    background-color: #e4e4e4;
    position: fixed;
    top: 65%;
    left: 50%;
    width: 70%;
    height: 300px;
    box-shadow: 5px 10px 18px #888;
    border-radius: 30px;
    transform:translate(-50%,-50%) ;
    z-index: 4;
}

.mensagem{
    text-align: center;
    font-size: 3em;
}
.containerBt{
    display:flex;
    align-items:center ;
    width: 200px;
    border-radius: 13px;
    background-color: #eb9999;
    font-size: 2em;
    cursor: pointer;
    margin : 12px auto;
    padding: 10px;
}

.containerBt:hover{
    background-color: #ee665c;
}

/*end game - mensagem*/
.containerEnd {
    display: none;
    background-color: #fcfcae;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    width: 100%;
    height: fit-content;
    box-shadow: 5px 10px 18px #888;
    border-radius: 30px;
    transform:translate(-50%,-50%);
    text-align: center;
    z-index: 5;
}

.dark-mode .containerEnd {
    background-color: #888;
    box-shadow: 5px 10px 18px #050505c7; 
}
#mensagemFinal{
    font-size: 2em;
    margin: 10px auto 30px;
}
.containerEnd button{
    display:grid;
    width: 50%;
    border-radius: 13px;
    background-color: #eb9999;
    color: #eee;
    font-size: 2.2em;
    cursor: pointer;
    margin : 4% auto;
    padding: 10px;  
}

button:hover {
    background-color: #ee665c;
    border: 1px solid black;
    color: black;
    
}


/*Propriedades das cartas */

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    width: 70%;

}

.grid > div:nth-child(2){
    grid-column: 3/4;
}



.card {
    aspect-ratio: 3/4;
   width: auto;
   border-radius: 10px;
   position: relative;
   transition: all 400ms ease;
   transform-style: preserve-3d;
   border-radius: 10px; 
   cursor: pointer; 
   box-shadow: 5px 5px 10px #888;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    border: 2px solid var(--card-border-color);
    border-radius: 10px;
    transition: all 500ms ease-in-out;


   
}

.front {
 transform: rotateY(180deg);
 background-size:cover;


}

.back {
    background-color: var(--card-color);
    background-image: url(../images/dogpaw.png);
    background-repeat: no-repeat;
    background-size:60%; 
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);

}

.disabled-card {
    filter:saturate(0);
    opacity: 0.5;
}


/*Media Query - WIDTH*/
@media (min-width:500px) {
    .label {
        transform: scale(1.8);
    }
    .grid{
        grid-template-columns: repeat(4,1fr);
        max-height: 915px;  
    }

    .grid > div:nth-child(2){
        grid-column: 2;
    }

    header{
        gap: 10em;
    }
    header h1{
        font-size: 3em;
    }
    header p {
        font-size: 3em;
    }
    
    .container {
        top:60%
    }
    .conteinerEnd {
        top:53%
    }    
}

@media (min-width:800px) {
    .main{
        gap:300px;
    }
    .container {
        top: 55%;
        max-width: 600px;
        height: 400px;
    }
    .containerBt {
        width: 60%;
    }
    .label {
        margin-top: 50%;
        transform: scale(3);
    }
    header{
        gap:12em ;
    }
    header h1{
        font-size: 5em;
    }
    header p {
        font-size: 5em;
    }
    .grid{
        width: 80%; 
    }
    button {
        font-size: 5em; 
    }

}
/*Media Query - HEIGTH*/

@media  (min-width:1000px){
    .label {
        margin-top: 40%;
        transform: scale(2.5);
    }
    header{
        gap:20em ;
    }
    header h1{
        font-size: 3em;
    }
    header p {
        font-size: 3em;
    }
    .grid{
        width: 45%; 
    }
    button {
       font-size: 3em; 
    }
}









